#flex-container {
  display: flex;
  flex-flow: row wrap;
}

#header, #nav, #main, #aside, #footer {
    background-color: #29339B;
    color: #f1fec6;
    border: 1px solid black;
    border-radius: 8px;
    margin: 5px;
    padding: 15px;
}

#nav {
  order: 2;
  width: 200px;
}

#header {
  order: 1;
  height: auto;
  width: 100%;
}

#header div {
  clear: none;
}
#main {
  order: 3;
  height: auto;
  background-color: #ff3a20;
  width: 50px;
  flex-grow: 1;
  animation-name: change_color;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes change_color {
  0% {background-color: #ff3a20;}
  50% {background-color: #d999b9;}
  100% {background-color: #ff3a20;}
}


#aside {
  order: 4;
  width: 200px;
}

#footer {
  order: 5;
  height: 50px;
  width: 100%;
}

